@*@model IEnumerable<WebApplication1.Models.Job>
@{
    ViewBag.Title = "Index";
}

<h2>Jobs</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Id)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.JobName)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>          
        </tr>
    }
</table>*@

@model IQueryable<WebApplication1.Models.Job>

@{
    ViewBag.Title = "Home Page";
}

<h2>Jobs</h2>

<br />
<ul>
    @if (Model != null)
    {
        foreach (var job in Model)
        {
            <li>@job.JobName</li>
        }
    }
</ul>


